 <!-- Hero Section Begin -->
 <section class="hero">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="hero__categories">
                  <div class="hero__categories__all" >
                      <i class="fa fa-bars"></i>
                      <span>All departments</span>
                  </div>
                  <ul *ngIf="categories;else noCategories" >

                      <li  *ngFor="let category of categories"><a routerLink="/category/{{category.slug}}">{{category.name}}</a></li>

                  </ul>
                  <ng-template #noCategories>
                     <ul><li>Loading...</li></ul>
                  </ng-template>
              </div>
          </div>
          <div class="col-lg-9">
              <div class="hero__search" [ngClass]="{'categorySelect':categorySelect}" >
                  <div class="hero__search__form">
                      <form action="#">
                          <div class="hero__search__categories" >
                                <ul (mouseout)="categorySelect=false" (mouseover)="mouseOvered=true;categorySelect=true" >
                                    <li class="category" [ngClass]="{'active':category===undefined}"><a style="cursor:pointer"  (click)="searchCategory(undefined)">All Categories</a></li>
                                    <li
                                     *ngFor="let cat of categories" class="category" [ngClass]="{'active':category?.id===cat.id}"><a style="cursor:pointer" (click)="searchCategory(cat)">{{cat.name}}</a></li>
                                </ul>

                              <span class="arrow_carrot-down"></span>

                          </div>



                          <input [(ngModel)]="query" (input)="search()" name="query" type="text" placeholder="What do yo u need?">
                          <button type="submit" class="site-btn">SEARCH</button>
                      </form>
                  </div>
                  <div class="hero__search__phone">
                      <div class="hero__search__phone__icon">
                          <i class="fa fa-phone"></i>
                      </div>
                      <div class="hero__search__phone__text">
                          <h5>+65 11.188.888</h5>
                          <span>support 24/7 time</span>
                      </div>
                  </div>
              </div>
              <ng-template [ngIf]="query!==''">
                  Search Results for {{query}}
                  <div class="row">
                        <app-product routerLink="/detail/{{product.slug}}" class="col-3" [product]="product" *ngFor="let product of search()"></app-product>
                  </div>

              </ng-template>
              <ng-template [ngIf]="query==''">
                <div class="hero__item set-bg" style="background-image: url('assets/img/hero/banner.jpg');" data-setbg="assets/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
              </ng-template>

          </div>
      </div>
  </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
  <div class="container">
      <div class="row">
          <div class="categories__slider owl-carousel">
                <div *ngFor="let category of categories" style="background-image: url('{{category.image}}');" class="col-lg-3">
                    <div  class="categories__item set-bg" >
                        <h5><a routerLink="category/{{category.slug}}">{{category.name}}</a></h5>
                    </div>
                </div>
          </div>
      </div>
  </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>Featured Product</h2>
              </div>
              <div class="featured__controls">
                  <ul>
                      <li class="active" data-filter="*">All</li>

                      <li *ngFor="let category of categories;let i"  attr.data-filter=".cat-{{category.id}}">{{category.name}}</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row featured__filter">
          <ng-container *ngFor="let category of categories">
            <ng-container *ngFor="let product of (categoryProducts(category.id)|async)" >
                <div *ngIf="product.is_featured" class="col-lg-3 col-md-4 col-sm-6 mix oranges cat-{{category.id}}">
                    <div  class="featured__item" >
                        <app-product routerLink="/detail/{{product.slug}}"   [product]="product"></app-product>
                    </div>
                </div>
            </ng-container>

          </ng-container>


      </div>
  </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner mb-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="banner__pic">
                  <img src="assets/img/banner/banner-1.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="banner__pic">
                  <img src="assets/img/banner/banner-2.jpg" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Banner End -->

